# Node.js関連
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Firebase関連
firebase-debug.log
.firebaserc
ui-debug.log
*.log

# エディタ関連
.idea/
.vscode/
*.swp
*.swo

# OS関連
.DS_Store
Thumbs.db

# その他
.env
.env.local
.runtimeconfig.json
lib/ 